[Unit]
Description=Configure CAN interface
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip link set can1 up type can bitrate 500000
RemainAfterExit=true
ExecStop=/sbin/ip link set can1 down

StandardOutput=journal

[Install]
WantedBy=multi-user.target